<%= form_for @todo_item, :html => { :class => "form-horizontal todo_item" } do |f| %>

  <% if @todo_item.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @todo_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date) %>
  </div>
  <div class="form-group">
    <%= f.label :item, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :item, :class => 'form-control' %>
    </div>
    <%=f.error_span(:item) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                todo_items_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
